body {
    background: #006edb;
    margin: 0;
    font-size: 1em;
    font-style: normal;
    line-height: 1.444;
   
}

#nav-heading a {
    text-decoration: none;
    margin: 5px;
}
#nav-heading {
    background-color: rgb(209, 196, 255);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#kredi, #script {
    color: rgb(255, 0, 0);
}

.generally {
    padding: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(205, 225, 255);
    width: 40em;
    font-family:  'Playfair Display', serif;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: none;
}

.android-wrapper {
    width: 200px;
    height: 200px;
}

.ios-wrapper {
    width: 200px;
    height: 200px;
}

.android {
    width: 50%;
    font-family: monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: rgb(235, 210, 210);
    border-radius: 100%;
}

.container {
    width: 100%;
    height: auto;
}

.container p a {
    text-decoration: none;
}


.first-div {
    text-align: center;
    width: 100%;
    background: url(image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.third-div {
    width: 100%;
}

.third-div p a {
    text-decoration: none;
}

.forth-div {
    width: 100%;

}

.forth-div p a {
    text-decoration: none;
}

.langaj {
    width: 100%;
    font-family: 'Baskervville', serif;
}

#last-one {
    width: 100%;
}

.link {
    width: 100%;
    font-family: 'Baskervville', serif;
    margin: 5px;
}

.link-wrapper {
    width: 100%;
    height: auto;
}

#pwogramasyon {
    width: 100%;
}

#pwogramasyon a {
    text-decoration: none;
}

#business {
    font-family: monospace;
    background: rgb(235, 210, 210);
    border-radius: inherit;
}

.footer {
    color: rgb(0, 0, 0);
    padding: 0;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    word-spacing: 5px;
}

a:hover {
    background-color: rgb(182, 182, 182);
    color: rgb(216, 8, 18);
    text-decoration: none;
}

/* About page html */

.container a {
    text-decoration: none;
    margin: 5px;
}

#jeneralite {
    margin-left: auto;
    margin-right: auto;
}

.footer a {
    text-decoration: none;
}

@media screen and (max-width: 600){
    .generally {
        width: 100%;
    }
    body {
    background-color: #ffbb00;
    }
}
